body {
  background-color: lightblue;
}

.player-picture {
  height: 200px;
  width: auto;
}

.team-picture {
  height: 100px;
  width: auto;
}

.teamofficial{
  height: 300px;
  width: auto;
}

.logo {
  height:60px;
  width: auto;
}

ul {
  list-style: none;
}

.testing{
 /* height: auto;
  width: 150px;*/
  border: 1px, solid, black;
  /*margin: 0 auto;*/
}

#tweetbox {
/*  text-align: center;
*/  height: 600px;
  width: 600px;
  overflow: scroll;
  background: white;
  border: 1px solid black;
/*  padding: 5px;
*/}
