body {
  background-color: lightblue;
}

.player-picture {
  height: 200px;
  width: auto;
}

.team-picture {
  height: 100px;
  width: auto;
}

.teamofficial{
  height: 300px;
  width: auto;
}

.logo {
  height:60px;
  width: auto;
}

ul {
  list-style: none;
}