<div class="container formbeer">

<h1>Players edit</h1>

<form ng-submit="playersEdit.save()">

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersEdit.selected.username" placeholder="Username">
  </div>

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Avatar</label>
    <img src="{{playersEdit.selected.avatar}}" class="player-picture">
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.avatar" placeholder="Your best portrait">
  </div>

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Spiritual Animal</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.spiritualanimal" placeholder="What you become">
  </div>

<!--   <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Team</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.team.name" placeholder="Your Team name">
  </div> -->

<!--   <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Team</label>
    <select name="team" ng-model="playersEdit.selected.team">
      <option disabled selected value="">Please select</option>
      <option ng-repeat="team in playersEdit.teams" ng-value="team._id" ng-selected="team._id === playersEdit.selected.team._id">{{team.name}}</option>
    </select>
  </div>   --> 

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Quote</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.quote" placeholder="What are you thinking...">
  </div>

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Github</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.github" placeholder="Github URL">
  </div>

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Twitter</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.twitter" placeholder="Twitter URL">
  </div>
  </div>

  <div class="containter testing" >


    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">Dodge Sore</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersEdit.selected.dodge"  placeholder="Dodge Sore">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">Dip Sore</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersEdit.selected.dip"  placeholder="Dip Sore">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput2">Dive Sore</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.dive" placeholder="Dive Sore">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput2">Duck Sore</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.duck"  placeholder="Duck Sore">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">Hits Sore</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersEdit.selected.hits"  placeholder="Hits Sore">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">Catches Sore</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersEdit.selected.catches"  placeholder="Catches Sore">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput2">Rebounds Sore</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.rebounds"  placeholder="Rebounds Sore">
          </div>
        </div>
       <div class="col-sm-3">
         <div class="form-group">
           <label for="formGroupExampleInput2">Speed Sore</label>
           <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.speed"  placeholder="Speed Sore">
         </div>
       </div> 
      </div>

    </div>

  </div>

  <button>Save</button>
</form>


