<h1>Players edit</h1>

<form ng-submit="playersEdit.save()">

  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersEdit.selected.name" placeholder="Full Name">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.image"placeholder="your best portrait">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Spiritual Animal</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.spiritualanimal" placeholder="what you become">
  </div>

<!--   <div class="form-group">
    <label for="formGroupExampleInput2">Team</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.team.name" placeholder="Your Team name">
  </div> -->

  <div class="form-group">
    <label for="formGroupExampleInput2">Team</label>
    <select name="team" ng-model="playersEdit.selected.team">
      <option disabled selected value="">Please select</option>
      <option ng-repeat="team in playersEdit.teams" ng-value="team._id" ng-selected="team._id === playersEdit.selected.team._id">{{team.name}}</option>
    </select>
  </div>  

  <div class="form-group">
    <label for="formGroupExampleInput2">Github</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.github" placeholder="Github ">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Twitter</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersEdit.selected.twitter" placeholder="Twitter">
  </div>

  <button>save</button>
</form>
