<div class="container formbeer">
<h1 class="honeforms">Add a New Player</h1>

<form ng-submit="playersNew.create()">

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersNew.new.username" placeholder="Full Name">
  </div>

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Image</label>
    <input type="text" class="form-control player-picture" id="formGroupExampleInput2" ng-model="playersNew.new.avatar" placeholder="your best portrait">
  </div>

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Spiritual Animal</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.spiritualanimal" placeholder="what you become">
  </div>
<!-- 
  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Team</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.team.name" placeholder="Your Team name">
  </div> -->
<!--  <div class="form-group col-md-7 col-md-offset-5">
<label for="formGroupExampleInput2">Team</label>
  <select name="team" ng-model="playersNew.new.team">
    <option disabled selected value="">Please select</option>
    <option ng-repeat="team in playersNew.teams" ng-value="team._id">{{team.name}}</option>
  </select>
</div> -->

<div class="form-group col-md-7 col-md-offset-5">
  <label for="formGroupExampleInput2">Quote</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.quote" placeholder="What are you thinking...">
</div>


  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Github</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.github" placeholder="Github ">
  </div>

  <div class="form-group col-md-7 col-md-offset-5">
    <label for="formGroupExampleInput2">Twitter</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.twitter" placeholder="Twitter">
  </div>
</div>

<div class="containter testing" >

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="formGroupExampleInput">Dodge Sore</label>
          <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersNew.new.dodge"  placeholder="Dodge Sore">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="formGroupExampleInput">Dip Sore</label>
          <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersNew.new.dip"  placeholder="Dip Sore">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="formGroupExampleInput2">Dive Sore</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.dive" placeholder="Dive Sore">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="formGroupExampleInput2">Duck Sore</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.duck"  placeholder="Duck Sore">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="formGroupExampleInput">Hits Sore</label>
          <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersNew.new.hits"  placeholder="Hits Sore">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="formGroupExampleInput">Catches Sore</label>
          <input type="text" class="form-control" id="formGroupExampleInput" ng-model="playersNew.new.catches"  placeholder="Catches Sore">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="formGroupExampleInput2">Rebounds Sore</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.rebounds"  placeholder="Rebounds Sore">
        </div>
      </div>
     <div class="col-sm-3">
       <div class="form-group">
         <label for="formGroupExampleInput2">Speed Sore</label>
         <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="playersNew.new.speed"  placeholder="Speed Sore">
       </div>
     </div> 
    </div>

  </div>

  <button>save</button>
</div>

  
</form>


