<h1></h1>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Dodgeball</h1>
    
    <p class="lead">"If you can dodge a wrench, you can dodge a ball."</p>
    
    <button ng-click="main.authenticate('github')">Sign in with GitHUB</button>
    <button ng-click="main.authenticate('twitter')">Sign in with Twitter</button>
  </div>
</div>

<div class='container'>
 <div id="tweetbox"></div>
  <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
</div>
