<form ng-submit="teamsEdit.save()">

  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" ng-model="teamsEdit.selected.name" placeholder="Team Name">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="teamsEdit.selected.image" placeholder="team picture">
  </div>


  <button>save</button>
</form>