<form ng-submit="teamsNew.create()">

  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" ng-model="teamsNew.new.name" placeholder="Full Name">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="teamsNew.new.image"placeholder="your best portrait">
  </div>


  <button>save</button>
</form>
