<h1>Teams Show</h1>

<h1>{{teamsShow.selected.name}}</h1>

<img ng-src="{{teamsShow.selected.image }}" class="teamofficial">

<h3>{{teamsShow.selected.team.name }}</h3>

<h4>Team Roster</h4>



<table class="table">
  <thead class="thead-inverse">
      <tr>
        <th>Player</th>
        <th>Player Name</th>
        <th>Dodge</th>
        <th>Dip</th>
        <th>Dive</th>
        <th>Duck</th>
        <th>Hits</th>
        <th>Catches</th>
        <th>Rebounds</th>
        <th>Speed</th>>
       
      </tr>
    </thead>
  
    <tr ng-repeat="player in teamsShow.selected.players">
      <td><img ng-src="{{ player.avatar }}" class="player-picture"></td>
      <td>{{ player.username }}</td>
      <td>{{ player.dodge }}</td>
      <td>{{ player.dip }}</td>
      <td>{{ player.dive }}</td>
      <td>{{ player.duck }}</td>
      <td>{{ player.hits }}</td>
      <td>{{ player.catches }}</td>
      <td>{{ player.rebounds }}</td>
      <td>{{ player.speed }}</td>
    </tr>
    
</table>





<button ng-click="teamsShow.join()">Join</button>
<button ui-sref="teamsEdit({ id: teamsShow.selected._id })">Edit</button>
<button ng-click="teamsShow.delete()">Delete</button>
