<h1>Teams Show</h1>

<h1>{{teamsShow.selected.name}}</h1>

<img ng-src="{{teamsShow.selected.image }}" class="teamofficial">

<h3>{{teamsShow.selected.team.name }}</h3>

<h4>Team Roster</h4>



<table class="table">
  <thead class="thead-inverse">
      <tr>
        <th>Player</th>
        <th>Player Name</th>
        <th>Hits</th>
        <th>Catches</th>
       
      </tr>
    </thead>
  
    <tr ng-repeat="player in teamsShow.selected.players">
      <td><img ng-src="{{ player.avatar }}"</td>
      <td>{{ player.username }}</td>
      <td>20</td>
      <td>15</td>
    </tr>
    
</table>





<button ng-click="teamsShow.join()">Join</button>
<button ui-sref="teamsEdit({ id: teamsShow.selected._id })">Edit</button>
<button ng-click="teamsShow.delete()">Delete</button>
