<div class="container formbeer">
<form ng-submit="login.submit()">
<h1 class="honeforms">Login</h1>
<div class="rowL">
  <div class="form-group col-md-7 col-md-offset-5">
    <input type="text" name="email" ng-model="login.credentials.email" placeholder="Email" class="form-control">
  </div>
</div>

<div class="rowL">
  <div class="form-group col-md-7 col-md-offset-5">
    <input type="password" name="password" ng-model="login.credentials.password" placeholder="Password" class="form-control">
  </div>
</div>

<div class="rowL">
 <div class="form-group col-md-8 col-md-offset-4">
  <input type="submit" value="Submit" class="btn btn-primary loginS">
  </div>
</div>
</form>

</div>